<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>184787959429-mog691h3egdodhbn0294froj954unei2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.184787959429-mog691h3egdodhbn0294froj954unei2</string>
	<key>API_KEY</key>
	<string>AIzaSyA1sCnSx1U85UDUSlKvQPp3hsLW7IzGouk</string>
	<key>GCM_SENDER_ID</key>
	<string>184787959429</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.cj.FitnessHelper-visionOS</string>
	<key>PROJECT_ID</key>
	<string>fitness-helper-194f0</string>
	<key>STORAGE_BUCKET</key>
	<string>fitness-helper-194f0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:184787959429:ios:acd08fab86d5d181ed73ec</string>
</dict>
</plist>